.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: oblique;
}

hr {
  border: 0;
  border-top: 2px solid rgb(217, 217, 217);
  border-radius: 12%;
}

h2, h3 {
  font-family: 'consolas', monospace;
  z-index: 1;
}

.heart {
  color: #ab0000;
}

.italic {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(71.18deg, rgb(0, 34, 255) -27.32%, rgb(0, 34, 255) -16.39%, rgb(81, 121, 254) -7.38%, rgb(165, 237, 182) 30.59%, rgb(250, 232, 90) 46.06%, rgb(253, 172, 62) 62.61%, rgb(255, 92, 0) 75.82%);
  font-style: oblique;
  background-clip: 1;
}

li:hover {
  color: grey;
  font-style: normal;
  transition: 0.12s;
}

h3 {
  margin-bottom: -13px;
}

ul {
  padding-left: 17px;
  padding-top: 3px;
  font-family: 'consolas';
}

a {
  color:black;
}

a:hover {
  color: grey;
  transition: 0.12s
}

.header {
  padding-top: 30px;
  font-family: 'consolas', monospace;
}
